{% extends 'base_layout.html' %}

{% block content %}
  <h1>Hello, {{user.get_username}}!</h1>
  <!-- <h2>{{quote}}</h2> -->

  <div class="buttons">
    <a class="button" href="{% url 'accounts:new' %}">Forgot to track a day?</a>
    <a class="button" href="{% url 'accounts:today' %}">How are you feeling today?</a>
  </div>

  <div class="moods">
    {% for mood in moods %}
        <div class="mood item m{{mood.rating}}">
            <h3 class="date">{{ mood.date }}</h3>
            <h4>{{ mood.comment }}</h4>
            <p>{{ mood.positives }}</p>
            <p>{{ mood.negatives }}</p>
        </div>
    {% endfor %}
  </div>


{% endblock %}
