.item {
  background-color: LightGrey;
  border: 2px solid DimGrey;
  border-radius: 10px;
}

body{
  margin: 0;
  background: #fcfced;
  color: Black;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

a, a:hover, a:visited{
  text-decoration: none;
}

.wrapper{
  max-width: 960px;
  margin: 0 auto;
}

div.wrapper > h1 {
  text-align: center;
  margin: 50px auto;
  font-size: 3em
}

div.wrapper > h2 {
  text-align: center;
  margin: 50px auto;
  font-size: 2em
}

header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 0;
  border-radius: 0 0 25px 25px;
  border: 3px solid DarkGrey;
  border-top: none;
  background-color: Khaki;
  color: #424242;
}

header a {
  color: #424242;
}
header a:hover {
  color: Black; /* Bright Purple*/
}
header.wrapper > h1{
  font-size: 3em;
  padding: 0 1em;
}

nav {
  justify-self: end;
}
nav li {
  display: inline-block;
  list-style-type: none;
  margin-left: 1em;
  margin-right: 1em;

}
nav button {
  background: none;
  cursor: pointer;
  border: 0;
  font-size: 16px;
}

footer{
  display: grid;
  padding: 0;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border-radius: 25px 25px 0 0;
  border: 3px solid DarkGrey;
  border-bottom: none;
  background-color: Khaki;
  color: #424242;
}

footer a {
  color: #424242;
}
footer a:hover {
  color: Black; /* Bright Purple*/
}
footer.wrapper > h1{
  font-size: 3em;
}

.moods{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 50px;
}

.mood {
  padding: 10px;
  position: relative;
  padding-bottom: 2em;
  transition-duration: 0.5s;
}

.m1 {
  background-color: Salmon;
}
.m2 {
  background-color: SandyBrown;
}
.m3 {
  background-color: LemonChiffon;
}
.m4 {
  background-color: LightGreen;
}
.m5 {
  background-color: MediumSpringGreen;
}
.date {
  text-align: right;
}
.mood h2{
  font-size: 1.5em;
}
.mood-icons {
  color: Black;
  float: right;
  font-size: 2em;
  padding: 0.5em;
}

.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 50px;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #424242;
  background-color: Khaki;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: Gold;
  color: Black;
}

.button:active {
  background-color: Gold;
  color: Black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}




a.highlight{
  border: 1px solid #00dba0;
  padding: 10px;
  border-radius: 4px;
  color: #00dba0;
}

.helptext, .helptext ul{
  margin: 0 auto 20px;
  color: #bbb;
  font-size: 14px;
  display: block;
}

.errorlist li{
  padding: 10px;
  list-style-type: none;
  border: 1px solid #FF5722;
  margin: 10px 0;
  color: #FF5722
}

.errorlist{
  padding: 0;
}


.site-form {
  padding: 1em;
  border-radius: 25px;
  border: 3px solid DarkGrey;
  background-color: Khaki;
  color: #424242;
  margin-bottom: 2em;

}
.site-form input, .site-form textarea{
  display: block;
  margin: 20px 0 0px 0;
  padding: 10px;
}
.site-form input[type="submit"]{
  background: #FFD700;
  border: 0;
  color: Black;
  font-size: 20px;
  border-radius: 4px;
  margin: 0;
  width: 100%;
}
.site-form input[type="submit"]:hover {
  background-color: #d4b200;
}
.formsection {
  display:table-row;
  align-items: center;
}
.formsection label {
  display: table-cell;
  padding: 1em;
}

.selectbutton {
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: Black;
  border: 2px solid White;
  border-radius: 5px;
}
